.hide {
	display:none;
}

.accordion{
	margin: 0px auto;
	padding: 45px 0px;
	/*max-width:760px;*/

	article {
		header,
		section {
			padding-left: 24px;
		}
		header {
			overflow: auto;
			font-size:1.2em;
			line-height:1em;
			color:#FFF;
			background-color: rgba(6,115,171,0.12);
			border: 3px solid #088AE4;

			h1{
				line-height: 2.1em;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		section {
			margin:0;
			padding: 8px 13px 17px 24px;
			border: 1px solid #efefef;
			background: #FFF;
		}
	}//article
}//.accordion
