/* CSS Written by Kevin McCoy 2015 */
/* CSS Updated by Kevin McCoy 2016 */



/* Color */
h1, h2, h3, h4, a{
	// color: rgb(228, 9, 11); // Red
	color: #2dab9d;
	text-decoration: none;
}
header, nav ul, #container{
	background-color: rgb(255, 255, 250);
}


/* ====================================*/
/* === Fonts     ======================*/
/* ====================================*/
article#post-home p{
	font-size: 1.2em;
}


body{
	// color: #081CE4; /* Blue <---> rgb(3, 21, 64); */
	position: relative;
}

#container p,
#container span{
	font-size:1.15em;
	line-height: 1.25em;
}

/* Links - A Href */
a:hover{
	text-decoration: underline;
}
body,
h1:hover,
a:hover,
a.active,
a.active p{
	color: #6d3e44;
}

header li a{
	padding: 7px; /* Make it easier to click - duh */
}

header h3{ /* Phone Number */
	font-size: 21px;
}
header h3 a{				/* Hack for Mobile to Click and Call */
	cursor: default;
}
header h3 a:hover{	/* Hack for Mobile to Click and Call */
	text-decoration: none;
	color: rgb(228, 9, 11);
}
header div.right p{
	font-size: 11px;
}


/* Font Awasome - reset*/
a.i{
	padding: 0px;
	margin: 0px;
	color: rgb(253, 248, 248);
}
a.i:hover{
	transition: color 1.4s ease;
	cursor: pointer;
	/*color: rgb(200,200,200);*/
	color: rgb(228, 9, 11);
}


/*current_page_item*/
body .widget,
header#menu ul li.current_page_item a{
	color: rgb(205, 205, 205);
}

header#menu ul li.current_page_item a{
	font-size: 1.05em;
	font-weight: bold;
}
/* ==========================================*/
/* === [END] Font Size ======================*/
/* ==========================================*/





/* -------------------------------------------------------------- */
/* === Layout Setup ============================================= */
/* -------------------------------------------------------------- */
html,body{
	background-color: #088AE4; /* Split Complimentary */
	height: 100%;
}
html{
	margin: 0px;

	body{
		min-width:452px;
		margin: 0px;

		div#wrapper{
			background-color: aliceblue;
			min-height: 100%;
			margin-bottom: -70px;
			&:after{
				content: "";
				display: block;
			}
		}
		footer, div#wrapper:after {
			min-height: 111px;
		}
	}
}
section{
	padding:12px 0px;
}

/* -------------------------------------------------------------- */
/* === Page's main Header ======================================= */
/* -------------------------------------------------------------- */
header{
	display: table;
	width: 100%;
	border-bottom: 2px black solid;
}

/* Top Header headerigation is divided to three section, Left, Middle, Right /*
/* ALL Table Cell */
#hambuger{
	display: table;
}
header h1,
header nav,
header li,
header div{
	display:table-cell;
	vertical-align: middle;
}/* === Not targeting h3 and p === */


/* ALL header Text */
header h3,
header a,
div.right p{
	margin: 0px;
	display: block;
	white-space: nowrap;
	vertical-align: middle;
}
p.tablet{
	white-space: nowrap;
}


/* 1 - Left - First Cell */
header h1{
	width: 47%; /* basically moves the 2nd cell */
	font-size: 1.8vw;
	padding-left: 14px;
}

header h1 a{
	width: inherit; /* fix for hover over */
}


/*  2 - Middle - Second Cell */
header nav ul{
	list-style: none;
	text-align: center;
	padding-left: 0px;
	line-height: 2.4em;
}
header li{ /*:not(:last-child){*/
	padding-right: 18px;
}

header li a{
	font-size: 1.1em;
	font-weight: 500;
}

/* 3 - Right - Third Cell */
header div.right{
	bottom: 0px;
	position: relative;
	text-align: right;
	padding: 0px 14px 0px 0px;
	margin: 0px;
}
/* ////// ===================== ////// */
/* ////// [End] Top header Bar  ////// */
/* ////// ===================== ////// */




/* -------------------------------------------------------------- */
/* ////// Container ////// */
/* -------------------------------------------------------------- */
#container{
	display:block;
	width: 82%;
	max-width: 1080px;
	margin: 38px auto 0px;
	padding: 0.1px 30px 25px;
}

#main, #sidebar{
	display: inline-block;
	float: none;
	vertical-align: top;
}

#main{
	width: 680px;
}
#sidebar{
	width: 440px;
}
#sidebar h2{
	width: 105%;
}

#sidebar .widget ul li{
	list-style-type: none;
}
li#social_media{
	height: 173.2px;
}
li#social_media ul{
	overflow: visible;
}
li.fb-like{
	position: relative;
	top: -23px;
}
/* ////// [END] Container ////// */



/* ========================================================================
===========================================================================
===========================================================================
========================================================================= */
div#right_php{
	background: white;
	right: 0px;
	position: absolute;
	height: 100%;
	text-align: right;
}

/*  Home Page Style */
body#home{
	#container img{
		width: 50%;
		height: auto;
		max-width: 300px;
		float: right;
		margin: 0px 25px;
	}
}
/* [END] Home Page Style */


/*  About Page Style */
body#about{
	h2{
		border-bottom: 2px solid #088AE4;
	}
}

article#post-about span{
	text-align: center;
}

article#post-about h3{
	margin-left: 35px;
}

article#post-about h1,
article#post-about h2{
	position: relative;
}

article#post-about span h1{
	right: 60px;
}article#post-about span h2{
	left: 50px;
}

article#post-about img{
	margin: 0 auto;
	display: block;
}
/* [END] About Page Style */


/*  services Page Style */
body#services{
	div.accordion p.ome{
		width: 45%;
	}
}
/* [END] services Page Style */


footer{
	/*background-color: #081CE4; // Triadic */
	background-color: #088AE4; /* Split Complimentary */
	// width: 150%;
	// margin-left: -25%;
	text-align: center;
	color: white;
	font-weight: 900;
	font-size: 1.5em;
	line-height: 2em;


	div{
		display: inline-block;
	}

	@media not all and (min-width: 985px){
		img{
			display: none;
		}
	}
	@media (min-width: 985px) {
		img{
			display: inline-block;
			position: absolute;
			right: 7%;
			margin:54px auto 30px;
		}
	}
}
footer.box {
	border-color: #000 transparent transparent transparent;
	border-radius: 50%/55px 55px 0 0;
	border-radius: 85%/85px 85px 0 0;
}

/*Facebook Icon*/
footer a.i{
	display: inline-block;
	margin: 58px 15px 58px 20px;
}
/*Copyright*/
footer span,
footer a.call{
	font-size: .7em;
	color: #1CE408;
}

@import 'accordion';
@import 'responsive';
