
@media screen and (min-width:1920px) {}
@media screen and (min-width:1600px) {}
@media screen and (max-width:1599px) {}
@media screen and (max-width:1279px) {}

/* ////// ================= ////// */
/* PHONE - Media Setup */
/* ////// ================= ////// */
@media (max-width: 1082px) {

	header h1{
		font-size: 1em;
		width: 37%;
	}

	/* Last Cell */
	header div{
		font-size: 0.72em;
	}
}

@media screen and (max-width:959px) {

}

/*@media screen and (min-width:881px) {*/
@media screen and (min-width:960px) {
	.desktop{display: initial;}
	.tablet{display: none;}
}

/*Layout changes*/

/*@media screen and (max-width:880px) {*/
@media screen and (max-width:959px) {

	.desktop{display: none;}
	.tablet{display: initial;}

	#hambuger{
		position: relative;
		cursor: pointer;
		height: 35px;
		width: 35px;
		margin: 30px;
	}
	#hambuger span {
		position: relative;
		top: 14px;
		margin: 0 auto;
	}

	#hambuger span,
	#hambuger span:before,
	#hambuger span:after {
		border-radius: 10px;
		height: 7px;
		width: 35px;
		background: black;
		position: relative;
		display: block;
		content: '';
	}
	#hambuger span:before {
		bottom: 13px;
	}
	#hambuger span:after {
		top: 6px;
	}
	a#hambuger.no-touch span,
	a#hambuger.no-touch span:before,
	a#hambuger.no-touch span:after{
		background-color: #9E9E9E;
	}

	header nav.desktop{
		left: 0px;
		margin-top: 76px;
		background: rgb(255, 255, 240);
		border-right: 1px gray solid;
		border-bottom: 1px gray solid;
	}

	header{
		/* 3 - Right - Third Cell */
		div.right{
			bottom: -10px;
			display: block;
			margin: 0px 14px 0px 0px;
			padding: 0px;
		}
		h1{
			padding-left: 0px;
		}
		nav ul{
			margin: 0px;
			padding: 12px 25px;
			li{
				display: list-item;
				text-align: left;
				a{
					line-height: 2.25;
				}
			}
		}
	}

}




@media screen and (max-width: 822px) {
	img#ash{
		margin: 0px 0px 0px;
	}

}
@media screen and (max-width:624px) {
// @media screen and (max-width:702px) {
	img#ash{
		margin: 20px 0px 0px;
	}
	footer.box{
		padding-top: 28px;
		a, a.i{
			display: block;
			margin:10px auto;
		}
		div{
			display: block;
			margin: 0 auto;
			padding-bottom: 20px;
		}
	}
}
